In [1]:
"Welcome to Appclick"

'Welcome to Appclick'

In [3]:
print("Welcome to Appclick")

Welcome to Appclick

VALUES, VARIABLES AND ASSIGNMENT OPERATOR

In [4]:
X=5
print(X)

5

In [8]:
X=10
print(X)

10

MAJOR DATA TYPES
1) Strings
2) Numbers - decimal, whole number, float, complex, etc.
3) Boolean

In [6]:
Name = "John"
Male = True
Age = 24
Height = 5.2
Class = 3j
print(Name)
print(Male)
print(Age)
print(Height)
print(Class)

John
True
24
5.2
3j

In [7]:
print(type(Name))
print(type(Male))
print(type(Age))
print(type(Height))
print(type(Class))

<class 'str'>
<class 'bool'>
<class 'int'>
<class 'float'>
<class 'complex'>

Another way to comment
"""
OPERATORS IN PYTHON
Arithimetic Operator: (+,-,*,/,**,%,//)
Assignment Operator: (=,+=,-=,/=)
Comparison Operator: (==, !=, >, <, >=, <=)
Logical Operator: (and, or, not)
"""

In [11]:
# Arithimetic Operator: (+,-,*,/,**,%,//)
X= 10
Y = 12.5
Add = X+Y
print(Add)

22.5

In [12]:
print(X+Y)
print(X-Y)

22.5
-2.5

In [13]:
y = 10
z = 3
Division = y/z
print(Division)

3.3333333333333335

In [14]:
Modulo = y%z
print(Modulo)

1

In [15]:
Exponential = y**z
print(Exponential)

1000

In [16]:
FloorDivision = y//z
print(FloorDivision)

3

In [20]:
# Assignment Operator: (=,+=,-=,/=) -Assignment operators helps to change a variable value to what you need 
X = 10
X -= 4
print(X)

6

In [18]:
X += 6
print(X)

12

In [21]:
# Comparison Operator: (==, !=, >, <, >=, <=) - The major output is true or false
X = 10
Y = 12
Compare=X==Y
print(Compare)

False

In [22]:
Compare=X!=Y
print(Compare)

True

In [23]:
print(X>Y)

False

In [24]:
print(X<Y)

True

In [25]:
# Logical Operator: (and, or, not)
Andd = X==10 and Y==12
print(Andd)

True

In [26]:
Andd = not(X==10 and Y==12)
print(Andd)

False

In [27]:
OR = X==10 or Y==7
print(OR)

True

In [29]:
# CONCATENATION
Name = "John"
Age = 24

print('My name is ' + Name)

My name is John

In [31]:
print(f'My name is {Name} and I am {Age} years old')

My name is John and I am 24 years old

In [9]:
# SLICING -Python indexing starts from zero
Name = "Alexander"
print(Name[0:4])
print(Name[1:4])

Alex
lex

In [34]:
print(Name[-5:-2])

and

In [35]:
# String Methods - Used to manipulate data
Fullname = 'Matthew Jones'
print(Fullname.lower())

matthew jones

In [25]:
# Advanced Data Types
# List : []

Food = ['Rice', 'Beans', 'Yam', 'Egg']
print(Food)
print(type(Food))

['Rice', 'Beans', 'Yam', 'Egg']
<class 'list'>

In [26]:
print(Food[1])

Beans

In [27]:
#Change one of the items in the list
Food[1]= 'Spaghetti'
print(Food)

['Rice', 'Spaghetti', 'Yam', 'Egg']

In [28]:
# Printing the length of the values in the list
print(len(Food))

4

In [29]:
# Adding an extra item to the list
Food.append('Fufu')
print(Food)

['Rice', 'Spaghetti', 'Yam', 'Egg', 'Fufu']

In [30]:
Food.insert(1,'Garri')
print(Food)

['Rice', 'Garri', 'Spaghetti', 'Yam', 'Egg', 'Fufu']

In [31]:
# To remove an item
Food.remove('Fufu')
print(Food)

['Rice', 'Garri', 'Spaghetti', 'Yam', 'Egg']

In [33]:
# Tuple() - They are type of data that are not ordered and not changeable

Names= ('Sade', 'Gift', 'Peace')
print(Names)
print(type(Names))

('Sade', 'Gift', 'Peace')
<class 'tuple'>

In [34]:
Names.count(1)

0

In [35]:
print(len(Names))

3

In [39]:
# Sets - It is unordered
Countries = {'Nigeria', 'China', 'England', 'Russia'}
print(Countries)
print(type(Countries))

{'England', 'Nigeria', 'Russia', 'China'}
<class 'set'>

Different methods of set
Add
Update
Pop

In [40]:
# To add
Countries.add('Qatar')
print(Countries)

{'Nigeria', 'China', 'Russia', 'Qatar', 'England'}

In [41]:
Countries.update(['Netherlands', 'Brazil', 'Mexico'])
print(Countries)

{'Netherlands', 'Nigeria', 'China', 'Russia', 'Brazil', 'Mexico', 'Qatar', 'England'}

In [42]:
# To remove
Countries.remove('Qatar')
print(Countries)

{'Netherlands', 'Nigeria', 'China', 'Russia', 'Brazil', 'Mexico', 'England'}

In [43]:
Countries.discard('Qatar')

In [44]:
Countries.remove('Qatar')

KeyError: 'Qatar'

Cell 44 shows the difference between remove and discard

In [45]:
Countries.clear()
print(Countries)

set()

In [49]:
# Dictionary- It can be manipulated. It s a key and value pair.
Student_details = {'Name': 'Andrew', 'Age': 24, 'Sex': 'Male', 'Nationality': 'Nigerian'}
print(Student_details)
print(type(Student_details))

{'Name': 'Andrew', 'Age': 24, 'Sex': 'Male', 'Nationality': 'Nigerian'}
<class 'dict'>

In [50]:
H = Student_details['Age']
print(H)

24

In [51]:
Student_details['Height'] = 5.6
print(Student_details)

{'Name': 'Andrew', 'Age': 24, 'Sex': 'Male', 'Nationality': 'Nigerian', 'Height': 5.6}

In [52]:
print(Student_details.pop('Height'))

5.6

 SIMPLE CALCULATIONS WITH PYTHON

In [58]:
 # Write a Python Program that convert Naira to Dollar.Keeping Dollar at 1600
Naira = 50000
Dollar = 1600
Conversion = Naira/Dollar
print(f' The amount of {Naira} in Dollars is {Conversion}')

 The amount of 50000 in Dollars is 31.25

In [57]:
# Write a python code that calculates tithe from the salary and print how much the person is paying. Keeping tithe at 10%
Salary = 100000
Tithe = Salary*0.1
print(f' The person is paying a tithe of {Tithe} from his/her salary')

 The person is paying a tithe of 10000.0 from his/her salary

In [62]:
# Dynamic Calculations
# Write a python code that calculates tithe from the salary and print how much the person is paying. Keeping tithe at 10%
Salary = int(input('Enter your salary here: '))
Tithe = Salary * 0.1
Takehome = Salary - Tithe
print(f'Mr John earns #{Salary}, pays #{Tithe} as tithe and takes home {Takehome}')

Enter your salary here:  100000

Mr John earns #100000, pays #10000.0 as tithe and takes home 90000.0

In [63]:
 # Write a Python Program that convert Naira to Dollar.Keeping Dollar at 1600, make it dynamic
Naira = float(input('Enter amount in Naira here: '))
Dollar = 1600
Conversion = Naira/Dollar
print(f' #{Naira} equates to ${Conversion}')

Enter amount in Naira here:  50000

 #50000.0 equates to $31.25

In [66]:
# Write a program that asks for age of a user and tells them  their age in 5 years
Age = int(input('What is your age ?: '))
Age_in_five_years = Age + 5
print(f' Dear user, you will be {Age_in_five_years}yrs old in five years time.')

What is your age ?:  50

 Dear user, you will be 55yrs old in five years time.

In [1]:
# Write a program that takes in the distance in kilometer and returns  the amount to be paid, given that the fare per kilometer is #50
Distance = int(input( 'Kilometer covered: '))
Amount_Paid = Distance * 50
print(f'The amount to be paid is #{Amount_Paid}')

Kilometer covered:  50

The amount to be paid is #2500

In [2]:
# Write a program that calculate simple interest on a loan taken.
Principal = int(input('Amount recieved:'))
Rate = float(input('At what interest rate is the loan given: '))
Time = float(input('Time of repayment: '))
Interest = (Principal*Rate*Time)/100
print(f' The simple interest on the loan taken is {Interest}')

Amount recieved: 50000
At what interest rate is the loan given:  5
Time of repayment:  3

 The simple interest on the loan taken is 7500.0

In [3]:
# IF, ELSE, AND ELIF
X = 6
Y = 4
if X>Y:
    print('X is greater than Y')

X is greater than Y

In [4]:
X = 6
Y = 4
if Y>X:
    print('Y is greater than X')
else:
    print('X is greater than Y')

X is greater than Y

In [6]:
# Write a program that checks the age of Nigerian and tells us if they are eligible to vote or not.
N_age= int(input('Enter your age here: '))
if N_age >= 18:
    print('You are eligible to vote')
else:
    print('Go back and eat Eba')

Enter your age here:  18

You are eligible to vote

In [14]:
# Write a program that take two inputs and prints the greater number...make it dynamic
X = int(input('Enter value here: '))
Y = int(input('Enter value here: '))
if X>Y:
    print(X)
else:
    print(Y)

Enter value here:  1
Enter value here:  1

1

In [9]:
# Write a python program that checks if a number is a positive or negative
# Print 'Positive' if it is positive, and "Negative" if it is negative
X = float(input('Enter value here: '))
if X>0:
    print('Positive')
else:
    print('Negative')

Enter value here:  -5

Negative

In [11]:
# Write a python program that checks if a number is even or odd. 
# Print "Even" if it is even, and "Odd" if it is odd
X = int(input('Enter value here: '))
if X%2==0:
    print('Even')
else:
    print('Odd')

Enter value here:  21

Odd

In [16]:
# Write a program that take two inputs and prints the greater number and if equal, print "Equal"...make it dynamic
X = int(input('Enter value here: '))
Y = int(input('Enter value here: '))
if X>Y:
    print(X)
elif X==Y:
    print('Equal')
else:
    print(Y)

Enter value here:  1
Enter value here:  1

Equal

Elif is always between if and else. if comes first for any conditional statement and else comes last.

In [17]:
# Write a python program that checks if a number is a positive or negative
# Print 'Positive' if it is positive, and "Negative" if it is negative and "Zero" if it is zero
X = float(input('Enter value here: '))
if X>0:
    print('Positive')
elif X==0:
    print('Zero')
else:
    print('Negative')

Enter value here:  0

Zero

In [20]:
# Write a python code that takes two numbers and a mathematical operator
# (+,-,*,/). Use if and else to perform the corresponding operation and print the result
# if an invalid operator is entered, print "Invalid operator"
X = float(input('Enter value here: '))
Y = float (input('Enter value here: '))
Z = input('Put operator here: ')
if Z== '+':
    print(X+Y)
elif Z== '-':
    print(X-Y)
elif Z== '*':
    print(X*Y)
elif Z== '/':
    print(X/Y)
else :
    print('Invalid operator')

Enter value here:  23
Enter value here:  34
Put operator here:  **

Invalid operator

In [36]:
# Write a python program that takes a student's score as input. If the score is 90 or above, print "A" if it is between 80 and 89, print "B".
# If it is between 70 and 79 , print "C". If it is between 60 and 69, print "D". Otherwise, print "F"

X = float(input('Enter student score here: '))
if X>=90:
    print('A')
elif X>=80:
    print('B')
elif X>=70:
    print('C')
elif X>=60:
    print('D')
else:
    print('F')

Enter student score here:  70

C

In [ ]:
# University of Ibadan requires student to score 50 and above to be considered for admission in both English and Mathematics.
# OAU requires student to score at least 50 in either English and Mathematics. Write a condition to check if a student is admissible in UI 
# or OAU or not admissible
Eng= float(input('Enter score here: '))
Math= float(input('Enter score here: '))
if Math>=50 and Eng>=50:
    print('The student is admissible in UI and OAU')
elif Math>=50 or Eng>=50:
     print('The student is admissible in OAU only')
else:
   print('Not admissible')

# FOR LOOP

In [3]:
# A loop is a control flow statement
Fruits = ['Apple', 'Orange','Banana']
print(f'{Fruits[0]} is a fruit.')
print(f'{Fruits[1]} is a fruit.')
print(f'{Fruits[2]} is a fruit.')

Apple is a fruit.
Orange is a fruit.
Banana is a fruit.

In [4]:
Fruits = ['Apple', 'Orange','Banana']
for i in Fruits:
    print(f'{i} is a fruit.')

Apple is a fruit.
Orange is a fruit.
Banana is a fruit.

In [1]:
Numbers = [1,2,3,4,5,6,7,8,9]
for x in Numbers:
    print(3*x)

3
6
9
12
15
18
21
24
27

In [2]:
Numbers = [1,2,3,4,5,6,7,8,9]
for y in Numbers:
    if y==5:
        print(y*3)

15

# Types of Statement - Break and Continuous Statement

In [3]:
# Write a for loop that prints out even numbers only from the list
Numbers = [1,2,3,4,5,6,7,8,9]
for z in Numbers:
    if z%2==0:
        print(z)

2
4
6
8

In [4]:
# Introducing Break
Numbers = [1,2,3,4,5,6,7,8,9] # the code to stop at number 4
for x in Numbers:
    print(x)
    if x==4:
        break

1
2
3
4

In [12]:
# Introducing continuous
Fruits = ['Apple', 'Orange','Banana']
for z in Fruits:
    if z =='Orange':
        continue
    print(z)

Apple
Banana

In [22]:
# Using Break and Continue(Continue helps to ignore)
# Write a code that stops iterating at number 7 and only print out the odd numbers in the list
Z =  [1,2,3,4,5,6,7,8,9,10]
for y in Z:
    if y==7:
        print(f'Break at Number {y}')
        break
        
    if y%2==0:
        #print(f'Continue: Skipping number{y}')
        continue
    
    print(f'Number: {y}')

Number: 1
Number: 3
Number: 5
Break at Number 7

In [31]:
# In the list below, write a loop that prints fruits that have letter 'a' and stop at a fruit called Elderberry
Fruits = ['apple', 'banana', 'cherry', 'date', 'elderberry', 'fig', 'grape']
for j in Fruits:
    if j == 'elderberry':
        print(f'Break: stopping the loop at {j}')
        break
        
    if 'a' not in j:
        continue
    print(f'Fruits: {j}')

Fruits: apple
Fruits: banana
Fruits: date
Break: stopping the loop at elderberry

# Introducing Pass

In [32]:
Numbers = [1,2,3,4,5,6,7]
for k in Numbers:
    if k%2==0:
        pass
    else:
        print(f'Odd number:{k}')

Odd number:1
Odd number:3
Odd number:5
Odd number:7

In [35]:
# Write a loop that's dynamic, accepts input and generate list of numbers
Num_entry = int(input('How many numbers do you want to input?'))

Number_list = []

for x in range(Num_entry):
    Number= int(input(f'Enter number {x+1}:'))
    Number_list.append(Number)
print(f'The numbers you entered are : {Number_list}')

How many numbers do you want to input? 4
Enter number 1: 1
Enter number 2: 2
Enter number 3: 2
Enter number 4: 3

The numbers you entered are : [1, 2, 2, 3]

# Range

In [36]:
for i in range(21):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [37]:
# Use range to generate numbers from 10 t0 20
for x in range(10,21):
    print(x)

10
11
12
13
14
15
16
17
18
19
20

In [41]:
# using range, print the odd numbers between 1 to 20
for j in range(1,21,2):
        print(j)

# range(beg,end,step)

1
3
5
7
9
11
13
15
17
19

In [44]:
Num = list(range(1,10))
print(Num)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

# While Loop

In [46]:
X = 0
while X < 5:
    print(X)
    X +=1

0
1
2
3
4

In [47]:
i= 5
while i<=50:
    print(i)
    i+=5

5
10
15
20
25
30
35
40
45
50

In [1]:
# While loop with continue
i= 0
while i<=10:
    i+=1
    if i==6:
        continue
    print(i)

1
2
3
4
5
7
8
9
10
11

In [7]:
# While loop with break
x=2
while x<=10:
    print(x)
    if x==7:
        break
    x+=2

2
4
6
8
10

# Using while loop for a guessing game
trials = 0
max_trials = 3

while True:
    trials +=1
    name = input('Enter username: ')
    if name == 'Joe':
        print(f'Welcome {name}, Enter your password')
        password = input()
        if password =='abcd':
            print('Access granted')
        else:
     
            print('Incorrect Password')
     
    elif max_trials == trials:
        print('No more trials')
        break
   
    else:
        print('Wrong username')


    There is a bug in this code

In [8]:
# Using while loop for a guessing game
trials = 0
max_trials = 3

while True:
    trials +=1
    name = input('Enter username: ')
    if name == 'Joe':
        print(f'Welcome {name}, Enter your password')
        password = input()
        if password =='abcd':
            print('Access granted')
        else:
            print('Incorrect Password')
     
   
    else:
        print('Wrong username')
    
    if max_trials == trials:
        print('No more trials')
        break

Enter username:  Joe

Welcome Joe, Enter your password

 rhhj

Incorrect Password

Enter username:  Joe

Welcome Joe, Enter your password

 ghy

Incorrect Password

Enter username:  Joe

Welcome Joe, Enter your password

 hyh

Incorrect Password
No more trials

In [9]:
# While loop that keeps asking for even numbers
while True:
    Num = int(input('Enter a number: '))
    if Num%2==0:
        print(f'Thank you, the number is {Num}')
        break
    else:
        print('This is not an even number')

Enter a number:  33

This is not an even number

Enter a number:  24

Thank you, the number is 24

In [10]:
# Password prompt
correct = 'appclick'
while True:
    password = input('Enter your password here: ')
    if password==correct:
        print('You have access now')
        break
    else:
        print('Incorrect. Try again next time')

Enter your password here:  Appclick

Incorrect. Try again next time

Enter your password here:  appclick

You have access now

# Functions

In [13]:
def greet():
    print('Welcome to Appclick')
greet()

Welcome to Appclick

In [20]:
def greeters(day_time,name):
    print(f'Good {day_time}, welcome to Appclick {name}')

greeters('afternoon', 'Blessing.')

Good afternoon, welcome to Appclick Blessing.

In [30]:
# write a function that takes in Nigerian age and full name and tells then if they are qualified to vote
def voters(full_name, age):
    if age >=18:
        print(f'{full_name} is qualified to vote')
    elif 0<= age <=17:
        print(f'{full_name} is not qualified to vote')
    else:
        print('Invalid value')
    


voters('Blessing', 17)

Blessing is not qualified to vote

In [33]:
# Write a function that takes temperature in celsius and converts them into fahrenheit
def converter():
    temp_f = ((9/5)*temp_c) + 32
    print(f'{temp_c} in degree celsius is equal to {temp_f} degree fahrenheit')

temp_c = float(input('Enter temperature value in degree celsius: '))

converter()

Enter temperature value in degree celsius:  54

54.0 in degree celsius is equal to 129.2 degree fahrenheit

In [36]:
# write a function to return maximum of 3 numbers
def bignumber():
    num1= int(input('Enter your number here: '))
    num2= int(input('Enter your number here: '))
    num3= int(input('Enter your number here: '))
    return max(num1,num2,num3)

bignumber()

Enter your number here:  23
Enter your number here:  56
Enter your number here:  13

56

In [38]:
# write a function to count the number of vowels in a word
def vowel_count():
    word = input('Enter your text here: ').lower()
    vowels = 'aeiou'
    count = 0
    for varchar in word:
        if varchar in vowels:
            count+=1
    return count


print(vowel_count())

Enter your text here:  Blessing

2

# LAMBDA FUNCTION

In [1]:
# Write a lambda function of adding two numbers together
add = lambda a,b:a+b
print(add(3,6))

9

### LAMBDA WITH HIGH ORDER FUNCTIONS
1. MAP
2. FILTER
3. SORT
4. REDUCE

In [2]:
# MAP
Numbers = [1,2,3,4,5,6]
Square = list(map(lambda x:x**2, Numbers))
print(Square)

[1, 4, 9, 16, 25, 36]

In [7]:
# FILTER
# We are going to filter out the odd numbers here and print out the even numbers
Num= [1,2,3,4,5,6,7,8,9,10]
Even = list(filter(lambda i:i%2==0, Num))
print(Even)

[2, 4, 6, 8, 10]

In [9]:
# SORT
points = [(3,7),(1,5), (8,1)]
sort = sorted(points, key=lambda y:y[0])
tros = sorted(points, key=lambda x:x[1])
print(sort)
print(tros)

[(1, 5), (3, 7), (8, 1)]
[(8, 1), (1, 5), (3, 7)]

In [12]:
# REDUCE -It reduces to a single value
from functools import reduce
Num=[1,2,3,4]
Product =reduce(lambda x,y:x*y,Num)
print(Product)

24

# LIST COMPREHENSION

In [19]:
Num= [1,2,3,4,5]
Squared = [ x**2 for x in Num]
print(Squared)

[1, 4, 9, 16, 25]

In [17]:
# print out even and also work on certain set of numbers in the list
Numbers=[1,2,3,4,5,6,7,8,9,10]
Filtered=[x for x in Numbers if x%2==0 if x>4]
print(Filtered)

[6, 8, 10]

In [20]:
# print odd numbers from the list and ignore number 7
Oddstop = [x for x in range(11) if x!=7 and x%2!=0]
print(Oddstop)

[1, 3, 5, 9]

In [25]:
# Wrie a code that generate numbers from 1 to 50  and print only multiples of 5 in the list and shold start from 15
Num = [x for x in range(1,51) if x>=15 and x%5==0]
print(Num)

[15, 20, 25, 30, 35, 40, 45, 50]

In [27]:
# Sort the following groups with the number in their 3rd position
Num= [(1,8,9),(4,11,10),(7,1,0),(5,6,1)]
Sort= sorted(Num, key= lambda y:y[2])
print(Sort)

[(7, 1, 0), (5, 6, 1), (1, 8, 9), (4, 11, 10)]

# REGEX(REGULAR EXPRESSION)

In [30]:
# Compile a regex to match name cat
import re
animals = ['cat', 'dog', 'catfish', 'horse', 'cattle', 'catbird']
pattern = re.compile(r'\bcat\b')
for x in animals:
    if re.search(pattern,x):
        print(x)

cat

In [31]:
# Compile a regex to match names containg cat
import re
animals = ['cat', 'dog', 'catfish', 'horse', 'cattle', 'catbird']
pattern = re.compile(r'cat')
for x in animals:
    if re.search(pattern,x):
        print(x)

cat
catfish
cattle
catbird

In [33]:
# Compile a regex to match names containg cat
import re
animals = ['cat', 'dog', 'catfish', 'horse', 'cattle', 'catbird']
pattern = re.compile(r'cat')
catname = [x for x in animals if pattern.search(x)]
print(catname)

['cat', 'catfish', 'cattle', 'catbird']

# OBJECT ORIENTED PROGRAMMING(OOP)

In [1]:
class Myclass:
    x=7
    y=6
P=Myclass
print(P.x)

7

In [2]:
class Person:
    def __init__(self, name, gender, age):
        self.name=name
        self.gender=gender
        self.age=age
P2= Person('Sam', 'Male', 30)
P3= Person('Gloria', 'Female', 23)
print(P2.name)

Sam

In [7]:
# Create an instance of a school that has school name , principal name, and year of establishment and populate it with 3 entries
class Schools:
    def __init__(self,school_name,principal_name,year):
        self.school_name=school_name
        self.principal_name=principal_name
        self.year=year
S1=Schools('Brainfield', 'Busayo', 2000)
S2=Schools('Bims' , 'Tope', 2023)
S3=Schools('Goodville', 'Hassan', 2010)
print(S1.school_name)

Brainfield

In [8]:
class Person:
    def __init__(self, name, gender, age):
        self.name=name
        self.gender=gender
        self.age=age
    def Fullinfo(self):
        print(f"My name is {self.name}, I am a {self.gender} and I am {self.age}")
P2= Person('Sam', 'Male', 30)
P3= Person('Gloria', 'Female', 23)
P2.Fullinfo()

My name is Sam, I am a Male and I am 30

In [13]:
class Schools:
    def __init__(self,school_name,principal_name,year):
        self.school_name=school_name
        self.principal_name=principal_name
        self.year=year
    def Description(self):
        print(f" My name is {self.principal_name} and I built {self.school_name} schools in the year {self.year}.")
S1=Schools('Brainfield','Busayo',2000)
S2=Schools('Bims','Tope',2023)
S3=Schools('Goodville','Hassan', 2010)
S1.Description()

 My name is Busayo and I built Brainfield schools in the year 2000.

In [16]:
# Create a class with attributes for the students name and grade also with method to calculate the average grade of the students
# to determine if the student pass or fail
class Student:
    def __init__(self, name,grade):
        self.name=name
        self.grade=grade
    def average_grade(self):
        average= sum(self.grade)/len(self.grade)
        return average
    def studentstatus(self):
        average=self.average_grade()
        if average>=50:
            print(f"The average grade is {self.grade} with {average} and {self.name} passed")
        else:
            print(f"The average grade is {self.grade} with {average} and {self.name} failed")
S1=Student('Wura',[23,92,45])
S1.studentstatus()

The average grade is [23, 92, 45] with 53.333333333333336 and Wura passed

In [24]:
# Create a book class that represent a book with attributes like title,author and pages
#... Write a method to print the full details and also a method to check if it is a long read or not...long read if more than 250 pages.
class Book:
    def __init__(self,title,author,pages):
        self.title=title
        self.author=author
        self.pages=pages
    def page_num(self):
        pages=self.pages
    def Fulldetails(self):
        pages=self.pages
        if pages>250:
            print(f' This book titled "{self.title}" by {self.author} is about {self.pages} pages and therefore it is a long read')
        else:
            print(f' This book titled "{self.title}" by {self.author} is not a long read')
B1=Book('Atomic Habits', 'James Clear', 347)
B1.Fulldetails()

 This book titled "Atomic Habits" by James Clear is about 347 pages and therefore it is a long read

# DIFFERENT TYPES OF OOP
1. INHERITANCE
2. ENCAPSULATION
3. POLYMORPHISM
4. ABSTRACTION

In [4]:
# 1. Inheritance
class Vehicle():
    def __init__(self,make,year):
        self.make=make
        self.year=year
    def Info(self):
        print(f'The make of the car is {self.make} and was made in the year {self.year}.')
class Car(Vehicle):
    def __init__(self,make,year,color):
        super().__init__(make,year)
        self.color=color
    def Fullinfo(self):
        print(f'The car is {self.make} and made in {self.year} and is {self.color} in color.')
V1=Vehicle('Tesla', 2023)
C1=Car('Toyota',2024, 'Blue')
V1.Info()
C1.Fullinfo()

The make of the car is Tesla and was made in the year 2023.
The car is Toyota and made in 2024 and is Blue in color.

In [11]:
# Create a parent class Manager that has name then create a sub class employee that has name of the employee and post held 
# define methods to print out full information for both class.
class Manager():
    def __init__(self,Manager_name):
        self.Manager_name=Manager_name
    def Managerinfo(self):
        print(f'The manager of ABC Foods is {self.Manager_name}.')
class Employee(Manager):
    def __init__(self,Manager_name,Employee_name,Employee_post):
        super().__init__(Manager_name)
        self.Employee_name=Employee_name
        self.Employee_post=Employee_post
    def Employeeinfo(self):
        print(f'The manager of ABC Foods is {self.Manager_name} and has appointed {self.Employee_name} has the new head of {self.Employee_post} with immediate effect.')
M1=Manager('Mr.Akeem Azeez')
E1=Employee('Mr.Akeem Azeez','John Newton', 'IT')
M1.Managerinfo()
E1.Employeeinfo()

The manager of ABC Foods is Mr.Akeem Azeez.
The manager of ABC Foods is Mr.Akeem Azeez and has appointed John Newton has the new head of IT with immediate effect.

In [14]:
# 2. Encapsulation
class Bankaccount():
    def __init__(self,balance):
        self.balance=balance
    def Deposit(self,amount):
        if amount>0:
            self.balance+=amount
    def Get_balance(self):
        return self.balance
Acc1= Bankaccount(1000)
Acc1.Deposit(750)
print('Hello! Your balance is:',Acc1.Get_balance())

Hello! Your balance is: 1750

In [18]:
class Account():
    def __init__(self,Account_no, Balance):
        self.Account_no=Account_no
        self.Balance=Balance
    def Deposit(self,Amount):
        if Amount>0:
            self.Balance+=Amount
            print(f'Deposited amount: {Amount} and new balance is {self.Balance}')
    def Withdraw(self,Amount):
        if Amount<=self.Balance:
            self.Balance-=Amount
            print(f'Amount withdrawn is {Amount} and new balance is {self.Balance}')
        else:
            print(f'Insufficient funds: your balance is {self.Balance}')
    def Balance_Acc(self):
        print(f'Total balance is {self.Balance}')

A1=Account('0225897404', 2000)
A1.Deposit(7000)
A1.Withdraw(5000)
A1.Balance_Acc()

Deposited amount: 7000 and new balance is 9000
Amount withdrawn is 5000 and new balance is 4000
Total balance is 4000

In [20]:
# 3. Polymorphism
class Shape:
    def Area(self):
        pass
class Square(Shape):
    def __init__(self,side):
        self.side=side
    def Area(self):
        return self.side*self.side
class Circle(Shape):
    def __init__(self,radius):
        self.radius=radius
    def Area(self):
        return 3.142*self.radius*self.radius
S=Square(4)
C=Circle(3)

print('Square Area:',S.Area())
print('Circle Area:',C.Area())

Square Area: 16
Circle Area: 28.278

In [21]:
# Abstraction
from abc import ABC, abstractmethod
class Vehicle(ABC):
    @abstractmethod
    def start_engine(self):
        pass
class Car(Vehicle):
    def start_engine(self):
        print('Car engine started')

C=Car()
C.start_engine()

Car engine started